



@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}


body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
	width:100%;
	padding:10px;
	display:block;
	line-height:3px;
}

header > nav {
	margin:5px;
	max-width:100vw;
	padding:10px;
	display: flex;
	align-items: flex-end;
	float: left;
}

nav > .branco{
	margin:10px;
	padding: 10px;
	display: inline-block;
	float:left;
}
	

#area-cabecalho {
	margin-bottom: 50px;
	display: block;
	width:100%;
    max-width: 100%;
	background-color: #252424;
	padding: 15px;
    display: inline;
	text-align: center;
	position:fixed;
	border-radius: 10px;
}

#area-logo, #area-menu {
	padding: 10px;
}

/*
**** Formatação do menu ****
*/
a {
    width: 100%;
    display: inline;
	text-decoration:none;
}

a:link, a:visited {
	color: #000001;
}

a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #010005;
	background: #FFF;
	border-radius:10px;
	text-decoration: none;
}
/*
**** Formatações em geral ****
*/
h1 {
	color: #4e4e4e;
	font-size: 1.2em;
}

h2 {
	font-family:'Arial';
	color: #020105;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
	border-radius:10px;
}

.branco{
	margin: 0;
	padding: 0;
	color: white;
	text-shadow:5px 3px 3px #0000ff89;
	font-size: 1.2em;
	float: left;
}

.form-container{
	width: 950px;
	margin-top: 150px;
	padding: 50px 20px;
	border-radius: 10px;	
    display: center;
    align-items: center;
    text-align: left;
	z-index: 4;				
	justify-content: center;
	/*background-color:#808080d3;*/										
}
.container {
	background-color: #fff;
	padding:30px;
	border-radius: 10px;
	box-shadow:10px 10px 10px rgba(0, 0, 0, 0.1);
	width:100%;
	max-width: 500px;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.input-sigle{
	width: 100%;
	align-items: center;
	justify-content: center;
}
.input{
	display: block-flex;
	
	padding: 10px;
	border-radius: 20px;
	box-sizing:border-box;
	align-items: center;
	text-align: center;

}
.btn {
	text-align: center;
}
.btn input [type="submit"]{
	background-color: 	#252424;
	color: #FFF;
	border: none;
	border-radius: 10px;
	padding: 10px  20px;
	cursor: pointer;
}
.btn input [type="submit"]:hover{
	background-color:#000;
}
input {
	margin: 15px;
	padding: 15px;
}


textarea{
	margin: 20px;
	width: 80%;
	height: 20em;
	padding: 10px;
	justify-content: center;
	align-items: center;

}
