@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*
**** Layout ****
*/
#area-cabecalho {
	margin-bottom: 50px;
	display: block;
	width:100%;
	background-color: #252424;
	padding: 15px;
	text-align: center;
	position:fixed;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens {
	margin-top: 100px;
	width: 660px;
	float: left;
}

#area-lateral {
	margin-top: 100px;
	width: 240px;
	max-width: 60%;
	float: right;
	background-position-x: left;
}

a:hover {
	text-decoration:underline ;
}
.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}

#rodape {
	background: #CCC;
	width:100%;
	max-width: 100%;
	padding: 5px;
	text-align: left;
	font-size: 0.5em;
	border-bottom: 1px dotted #CCC;	
}

/*
**** Formatação do menu ****
*/
a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #000001;
}

a:hover {
	text-decoration: underline;
	
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

 a:hover {
	color: #010005;
	background: #FFF;
	border-radius:10px;
	text-decoration: none;
}
/*
**** Formatações em geral ****
*/
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
    margin: 20px;
    text-align: center;
	font-family:'Arial';
	color: #020105;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
	border-radius:10px;
}

.branco{
	margin: 0;
	padding: 0;
	color: white;
	text-shadow:5px 3px 3px #0000ff89;
	float: left;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}
.postagem-h3 {
	background:none;
}
.link:hover{
	box-shadow:5px 5px 5px 5px  #00000068;
	max-width:240px;
	max-height:250px;
}





